form {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #181717;
    border-radius: 15px;
}
fieldset legend {
    font-size: 18px;
    font-weight: bold;
    color: #CC5500;
    margin-bottom: 10px;
}